<h1>機器學習 - Pocket Algorithm<button id="run">啟動</button></h1>

<div id="res"></div>
<div class="console">
	<h2>
		<div>方程式：<pre><span id="_a"></span>X + <span id="_b"></span>Y + <span id="_c"></span>Z + <span id="_d"></span> = 0 </pre></div>
		
		<div>迭代次數：<span id="_iter"></span> / <span id="_limit"></span></div>
		
		<div>最佳/目前錯誤數量：<span id="_better"></span> / <span id="_now"></span></div>
		<div>目前修正次數：<span id="_fixnum"></span></div>
	</h2>
</div>