@import url(https://fonts.googleapis.com/css?family=Oswald:700)
@import zap_lib

$fc = #595959
$barc = #2484C1

@font-face 
	font-family: 'KozGo'
	src: url("font/KozGoPr6N-ExtraLight.otf") format("opentype")
@font-face 
	font-family: 'KozGo'
	font-weight: bold
	src: url("font/KozGoPr6N-Bold.otf") format("opentype")
@font-face
	font-family: 'mplus 1c light'
	src: url("font/mplus-1c-light.ttf") format("opentype")
@font-face
	font-family: 'mplus 1m light'
	src: url("font/mplus-1m-light.ttf") format("opentype")



*
	margin: 0
	padding: 0

body
	background-image: url("../img/grain.png")
	background-color: #F1EDE7

svg
	margin: 0 auto
	display: block
	.bar
		fill: $barc
	.bar-active
		fill: darken($barc,15%)
	.domain
		stroke: darken(#248ACB,40%)
		stroke-width: 1px
		fill: none
		shape-rendering: crispEdges
	.x-axis-txt
		font-family: 'KozGo', sans-serif
		font-size: 13px
		transform-origin: 50% 0%
		-webkit-transform-origin: 0% 0%
		transform: rotate(45deg)
		fill: $fc
	.y-axis-txt
		font-family: 'KozGo', sans-serif
		font-size: 13px
		fill: $fc

.tooltip
	z-index: 3
	position: absolute
	font-family: 'KozGo', sans-serif
	font-size: 12px
	line-height: 12px
	color: rgba(255,255,255,0.9)
	background-color: rgba(0,0,0,0.6)
	border-radius: 3px
	padding: 4px

// .center
// 	>.sub-report
// 		max-width: 150px
// 		margin-left: auto
// 		margin-right: auto
.header
	font-family: 'Oswald', sans-serif
	margin: 30px 0 40px 0
	text-align: center
	>img
		size(88px)
		vert(middle)
	>.title
		color: $fc
		padding-bottom: 20px
		margin-left: -5px
		vert(middle)
		>.main
			font-size: 45px
			line-height: 39px
		>.sub
			font-family: 'mplus 1c light'
			font-size: 14px
			text-align: right
			color: lighten($fc,5%)

.topic
	margin: 20px auto
	padding: 1% 1% 0 1%
	max-width: 900px
	font-family: 'KozGo',sans-serif
	font-size: 30px
	font-weight: bold
	color: darken($fc,8%)
	>img 
		size(70px)
		margin-right: 7px
		border-radius: 4px
		border: solid 1px rgba(0,0,0,0.2)
		vertical-align: middle
	>.title
		vert(middle)
		>.main
			line-height: 35px
		>.date
			font-size: 12px
			line-height: 12px
			color: lighten($fc,10%)

.section
	max-width: 900px
	background-color: #FFF
	margin: 10px auto
	box-shadow: 0 1px 1px rgba(0,0,0,0.2)
	font-family: 'KozGo',sans-serif
	padding: 1% 1.5%
	>.field
		font-size: 23px
		>*
			vert(middle)
		>img 
			size(40px)
			margin-right: 7px
		>span
			color: darken($fc,8%)
	>.session-gap
		height: 100px
	>.session
		font-size: 0px
		>*
			vert(middle)
			boxpadding(1%)
			font-size: 23px
			>.question
				font-size: 18px
				color: $fc
				border-bottom: solid 1px rgba(0,0,0,0.1)
		>.full
			width: 100%
		>.helf
			width: 50%
		>.helf-6	
			width: 60%
		>.helf-4
			width: 40%
		>.helf-55
			width: 55%
		>.helf-45
			width: 45%
		>.top-gap
			padding-top: 30px
		


.sub-report
	boxpadding(2%)
	font-family: 'mplus 1c light'
	color: darken($fc,8%)
	margin: 0 auto 15px auto
	>.title
		font-size: 15px
		color: lighten($fc,12%)
		line-height: 15px
	>.number
		font-size: 40px
		line-height: 36px
		font-weight: bold
		>span
			display: inline-block
			border-bottom: solid 2px transparent
			min-width: 50px
			&:hover
				background-color: rgba(100,100,100,0.1)
				border-bottom: solid 2px $barc
				cursor: pointer


.grid-3
	>.sub-report
		width: 31.33%
		margin: 0.3% 1%
		border-bottom: solid 1px rgba(0,0,0,0.1)
		vert(top)

.grid-center
	min-height: 290px
	>.sub-report
		white-space: nowrap
		max-width: 50px
		margin: 0.7% auto

.footer
	font-family: 'mplus 1c light'
	font-weight: bold
	margin: 25px 0
	>p
		text-align: center
		color: lighten($fc,30%)
		>a 
			color: $fc


.cover
	perspective: 600px
	position: fixed
	width: 100%
	height: 100%
	left: 0
	top: 0
	background-color: rgba(0,0,0,0.5)
	text-align: center
	font-size: 0
	animation: fadeIn 0.2s linear 0s 1 forwards 
	-webkit-animation: fadeIn 0.2s linear 0s 1 forwards 
	self-mid()
	>.flipbox
		text-align: left
		font-size: initial
		vert(middle)
		min-width: 100px
		min-height: 100px
		max-height: 0%
		max-width: 0px
		overflow: auto
		background-color: #dedede
		opacity: 0
		transition: transform .7s ,max-height .8s ,max-width .8s  ,opacity .8s
		transform-style: preserve-3d
		transform-origin: center center
		border-radius: 4px
		transform: translateX(0%) rotateY(0deg) translateY(-50%) rotateX(100deg)
	>.flip
		transform: translateX(0) rotateY(0) translateY(0) rotateX(0)
		max-height: 90%
		max-width: 1000px
		opacity: 1



@-webkit-keyframes fadeIn 
	0%
		background-color: rgba(0,0,0,0)
	100%
		background-color: rgba(0,0,0,0.5)
@keyframes fadeIn 
	0%
		background-color: rgba(0,0,0,0)
	100%
		background-color: rgba(0,0,0,0.5)


.rawbox
	height: 100%
	text-align: left
	background-color: #F5F5F5
	font-family: Microsoft JhengHei ,sans-serif

	>.item-box
		background-color: #FFF
		margin: 1% 0
		border-top: solid 1px rgba(0,0,0,0.2)
		border-bottom: solid 1px rgba(0,0,0,0.2)
		overflow: auto
		height: 400px
		min-width: 700px
		boxpadding(1%)
		>.item
			color: #333
			display: block
			border-bottom: solid 1px rgba(0,0,0,0.1)
			text-decoration: none
			boxpadding(2% 1%)
			&:hover
				cursor: pointer
				background-color: #E8E8E8
			>.subtitle
				dflex(0,1)
				font-size: 20px
				>span
					nowarp()
					flex: 1
				>.date
					font-size: 13px
					color: #888
					
			>.info
				vert(middle)
				margin-left: 7px
				color: #555
			>.des
				font-size: 14px
				color: #666
				boxpadding(5px)
				nowarp()
			>.price
				font-size: 20px
				margin: 5px
				>*
					vert(middle)
		>.nextpage
			text-align: center
			&:hover
				font-weight: bolder

	>.ques-box
		dflex(0,1)
		boxpadding(1% 2%)
		color: #555
		font-size: 28px
		>*
			vert(middle)
		>.logo-box
			size(40px,auto)
			margin-right: 7px
		>span
			flex: 1
			nowarp()

	>.param-box
		nowarp()
		boxpadding(0 2%)

.noscroll
	overflow: hidden






.linechart
	font-size: 14px
	.axis path,.axis line
		fill: none
		stroke: #000
		shape-rendering: crispEdges
	.x.axis
		>path
			fill: none
			stroke: #000
			shape-rendering: crispEdges

	.line 
		fill: none
		stroke-width: 1px

	.sub
		>.block
			fill: transparent
				
		>.point
			//fill: #4682B4

		>.apath
			fill: none
			stroke: transparent
			shape-rendering: crispEdges
			stroke-dasharray: 3

		&:hover
			>.apath
				stroke: #CECECE
			>.block
				//fill: rgba(0,0,0,0.1)
			>.point
				//fill: #285378

.line-tooltip
	z-index: 3
	position: absolute
	font-family: sans-serif
	font-size: 12px
	line-height: 12px
	color: #333
	background-color: #FFF
	border-radius: 3px
	border: solid 1px rgba(0,0,0,0.2)
	padding: 4px
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2)
	>.subtip
		padding: 1px
		>span
			display: inline-block
			vertical-align: middle
		>.colorbox
			width: 10px
			height: 10px
			margin-right: 3px
			border: solid 1px rgba(0,0,0,0.2)


.idenbox
	font-size: 15px
	margin: 0 auto
	text-align: center
	>.subiden
		display: inline-block
		vertical-align: middle
		padding: 7px
		&:hover
			>.namebox
				font-weight: bold
			>.colorbox
				border: solid 1px rgba(0,0,0,0.3)
		>.colorbox
			display: inline-block
			width: 14px
			height: 14px
			vertical-align: middle
			margin-right: 2px
			border: solid 1px rgba(0,0,0,0)
		>.namebox
			vertical-align: middle
			


