@import awesome_lib

/* 
	---- your styling under here ---
*/
// @import sample
*
	margin: 0
	padding: 0
body
	padding: 0.5%
	
#res
	border: 1px solid rgba(0,0,0,0.2)
	
.js-plotly-plot .plotly div
	margin 0 auto
.console
	background-color: #efefef
pre
	display inline	
	
#run
	margin: 2px 1%
	padding 0.5% 3%
	font-size 16px
	font-weight bold