*
  margin 0px
  padding 0px
  font-size: Microsoft JhengHei 
  
html,body,#section
  size()
  
    
.sk-cube-grid
  position fixed
  left 0
  top 0
  size()

.sk-cube-grid .sk-cube,
.sk-cube-grid .tk-cube
  size(33.3%)
  float left
  animation sk-cubeGridScaleDelay 3s alternate infinite ease-in-out
  
.tk-cube
  background-color: #aaa
  self-mid()
  text-align center
  nowarp()
  overflow hidden
  >h1
    color #000
    font-size: 300%
    vert(middle)
    animation tk-TieleDelay 6s reverse infinite ease-in-out
    +media("screen")
      font-size: 230%
    +media("table")
      font-size: 130%
    +media("mobile")
      font-size: 100%
  >a
    text-decoration none
    color: #ddd
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3)
    

.sk-cube-grid .sk-cube1 
  animation-delay 0s
.sk-cube-grid .sk-cube2
  animation-delay: 0.1s
.sk-cube-grid .sk-cube3
  animation-delay 0.2s
.sk-cube-grid .sk-cube4
  animation-delay 0.7s
.sk-cube-grid .sk-cube5
  animation-delay 0.8s
.sk-cube-grid .sk-cube6
  animation-delay 0.3s
.sk-cube-grid .sk-cube7
  animation-delay 0.6s
.sk-cube-grid .sk-cube8
  animation-delay 0.5s
.sk-cube-grid .sk-cube9
  animation-delay 0.4s

@keyframes sk-cubeGridScaleDelay
  0%
    background-color transparent
  100%
    background-color #444
    
@keyframes tk-TieleDelay
  0%,50%,100%
    color #fff
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5)
  25%,75%
    color #fff
    text-shadow: 1px 1px 10px rgba(255,255,255,0.8)
    